

/* SBS Styles*/
/* Fonts styles */

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=71ddd5c8-e374-4f06-b14e-d637f6eafe56");

@font-face {font-family: "HelveticaWorld-W01";
    src: url("fonts/000e500a4810f52aaa6222582482c765.ttf");
}

@font-face {
    font-family: "HelveticaNeueW01-77BdCn 692722";
    src: url("fonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix");
    src: url("fonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix") format("eot"), url("fonts/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"), url("fonts/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype"), url("fonts/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg"); 
}

@font-face {
    font-family: "HelveticaNeueW02-55Roma";
    src: url("fonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix");
    src: url("fonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix") format("eot"), url("fonts/d5af76d8-a90b-4527-b3a3-182207cc3250.woff") format("woff"), url("fonts/1d238354-d156-4dde-89ea-4770ef04b9f9.ttf") format("truetype"), url("fonts/b68875cb-14a9-472e-8177-0247605124d7.svg#b68875cb-14a9-472e-8177-0247605124d7") format("svg"); 
}

@font-face {
    font-family: "HelveticaNeueW02-77BdCn 694066";
    src: url("fonts/77cb0adc-646b-4830-8f4c-3db7adbb8dc4.eot?#iefix");
    src: url("fonts/77cb0adc-646b-4830-8f4c-3db7adbb8dc4.eot?#iefix") format("eot"), url("fonts/631bf655-ced5-4627-93d4-89d1bdfe3014.woff") format("woff"), url("fonts/96740819-d387-437f-b739-9778ddc5e5b9.ttf") format("truetype"), url("fonts/05729794-671d-4a73-a294-f2f447795319.svg#05729794-671d-4a73-a294-f2f447795319") format("svg"); 
}

@font-face {
    font-family: "HelveticaNeueW01-75Bold";
    src: url("fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix");
    src: url("fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"), url("fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"), url("fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"), url("fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg"); 
}

@font-face {
    font-family: "HelveticaNeueW02-45Ligh";
    src: url("fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix");
    src: url("fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix") format("eot"), url("fonts/9a2e4855-380f-477f-950e-d98e8db54eac.woff") format("woff"), url("fonts/fa82d0ee-4fbd-4cc9-bf9f-226ad1fcbae2.ttf") format("truetype"), url("fonts/48d599a6-92b5-4d43-a4ac-8959f6971853.svg#48d599a6-92b5-4d43-a4ac-8959f6971853") format("svg"); 
}

@font-face {
    font-family: 'FontAwesome';
    src: url("fonts/fontawesome-webfont.eot?v=3.2.1");
    src: url("fonts/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("fonts/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Other Global */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(../images/009-subtle-light-patterns.gif) repeat 0 0;
    font-family: "HelveticaWorld-W01","HelveticaNeueW02-45Ligh","Helvetica",Arial,"times new roman",serif;
    -webkit-font-smoothing: antialiased;
    color: #1b2024;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: "HelveticaWorld-W01","HelveticaNeueW01-75Bold","Helvetica",Arial,"times new roman",serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #262626;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}
h4 {
    font-family: "HelveticaWorld-W01","HelveticaNeueW01-75Bold","Helvetica",Arial,"times new roman",serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #262626;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}
.dark-underline {
    width: 100%;
    border-bottom: 2px solid #1b2024;
}
h5 {
    font-family: "HelveticaWorld-W01","HelveticaNeueW01-75Bold","Helvetica",Arial,"times new roman",serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #3d3b3b;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}
p, text, td, th {
    font-family: "HelveticaWorld-W01","HelveticaNeueW02-45Ligh","Helvetica",Arial,"times new roman",serif;
    /-webkit-font-smoothing: antialiased;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #3d3b3b;
}
.source {
    display: block;
    font-family: "HelveticaWorld-W01","HelveticaNeueW02-45Ligh","Helvetica",Arial,"times new roman",serif;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    font-size: 11px;
    text-transform: uppercase;
}
a, a:hover {
    text-decoration: none;
    color: #428bca;
}

.divider-grey {
    display: block;
    position: relative;
    width: 100%;
    border-top: 1px solid #d8dcdc;
    border-bottom: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* MORE CTA BUTTON */
.sbs-btn-cta-arrow {
    font-family: "HelveticaNeueW02-55Roma","Helvetica",Arial,"times new roman",serif;
    width: 146px;
    margin-top: 20px;
    box-sizing: border-box;
    position: relative;
    height: 26px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    color: #1b2024;
    margin: 0;
    padding: 0;
    border: 0;
}

.sbs-btn-cta-arrow > a {
    display: block;
    height: 24px;
    border: 1px solid #d8dcdc;
    padding: 0px 10px 0px 10px;
    margin-right: 23px;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0px;
    background: transparent;
    text-align: left;
    position: static;
    color: #525e6e;
    -webkit-box-shadow: white 1px 1px 0;
    -moz-box-shadow: white 1px 1px 0;
    box-shadow: white 1px 1px 0;
    text-shadow: 1px 1px white;

    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;

    text-decoration: none;
    cursor: auto;
}

.sbs-btn-cta-arrow > a:hover {
    -webkit-box-shadow: inset 0 0 4px #a0aab4,white 1px 1px 0;
    -moz-box-shadow: inset 0 0 4px #a0aab4,white 1px 1px 0;
    box-shadow: inset 0 0 4px #a0aab4,white 1px 1px 0;
    background-color: rgba(160,170,180,0.25);
    color: #1b2024;
    border-color: #a0aab4;

    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.075s;
    -moz-transition-duration: 0.075s;
    -o-transition-duration: 0.075s;
    transition-duration: 0.075s;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
}

.sbs-btn-cta-arrow a:after {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    text-align: center;
    line-height: 24px;
    border: 1px solid #d8dcdc;
    -webkit-box-shadow: white 1px 1px 0;
    -moz-box-shadow: white 1px 1px 0;
    box-shadow: white 1px 1px 0;
    color: #525e6e;
    content: "\f105";
    font-size: 24px !important;

    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome" !important;
    font-weight: normal !important;
    font-style: normal !important;
    display: inline-block;
    speak: none;
}

button, .button {
	font-family: "HelveticaNeueW02-55Roma","Helvetica",Arial,"times new roman",serif;
    width: 146px;
    box-sizing: border-box;
    position: relative;
    height: 24px;
    border: 1px solid #c7c9cc;
    padding: 0px 10px 0px 10px;
    margin-right: 23px;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0px;
    background: transparent;
    text-align: left;
    position: relative;
    color: #525e6e;
    -webkit-box-shadow: white 1px 1px 0;
    -moz-box-shadow: white 1px 1px 0;
    box-shadow: #DFE1E4 3px 3px 0;
    text-shadow: 1px 1px white;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
}

button:hover, .button:hover {
    -webkit-box-shadow: inset 0 0 4px #a0aab4,white 1px 1px 0;
    -moz-box-shadow: inset 0 0 4px #a0aab4,white 1px 1px 0;
    box-shadow: inset 0 0 4px #a0aab4,white 1px 1px 0;
    background-color: rgba(160,170,180,0.25);
    color: #1b2024;
    border-color: #a0aab4;

    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.075s;
    -moz-transition-duration: 0.075s;
    -o-transition-duration: 0.075s;
    transition-duration: 0.075s;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
}