{% extends "layout.html" %}
{% block body %}
  <p>I am a student Data Scientist at Deakin University. I was previously a backend developer. I love solving interesting problems.<p>
  <p>In my spare time I make artificial intelligence, ride a unicycle, play a flute and eat ham sandwiches.</p>
  <p>Before becoming a programmer, I was a data journalist at SBS News where I wrote articles, made web scrapers and produced interactive data visualisations. See <a href="/my_work">my work</a> for more details.</p>
  <p>You can find me on <a href="https://twitter.com/jase_thomas" target="_blank">Twitter</a> and on <a href="https://github.com/JasonThomasData" target="_blank">Github</a>.</p>
{% endblock %}
