{% extends "layout.html" %}
{% block body %}
  <h2>I'm an enthusiastic coder!</h2>
  <p>I'm on the lookout for a job where I can solve problems using programming languages.<p>
  <p>My dream job would be doing backend work with Python, on a Linux machine, to make APIs and help a team of developers meet its collective goals. If I got to do some machine learning, web scraping and NLP... then I would be in Heaven.</p>
  <p>Before this change, I was a data journalist at SBS News, where I wrote articles, made web scrapers and produced interactive data visualisatins. See <a href="/my_work">my work</a> for more details.</p>
  <p>You can find me on <a href="https://twitter.com/jase_thomas" target="_blank">Twitter</a>, <a href="https://stackoverflow.com/" target="_blank">Stack Overflow</a> and on <a href="https://github.com/JasonThomasData" target="_blank">Github</a>.</p>
{% endblock %}