{% extends "layout.html" %}
{% block body %}
  <h4>I'm a data journalist at <a href="http://www.sbs.com.au/news" target="_target">SBS News Online</a>.</h4>
  <p>'Data journalism' is two things:
  <ul>
  	<li>an umbrella term - making dataviz, web scraping, interactive storytelling and interpreting datasets</li>
  	<li>often just journalism - any journalist could use a spreadsheet and make a chart, and I'm happy to teach.</li>
  </ul>
  <p>Data skills allow me to find stories - I can put issues on the agenda, or bring new context to existing stories.</p>
  <p>I'll always aim to be open and post links to machine-reabable datasets. My readers are smart and I assume they'll ask questions.</p>
  <p>I'm getting better at web dev and I made this site, and CMS, with <a href="http://flask.pocoo.org/docs/0.10/" target="_target">Flask</a>. The source code is on Github.</p>
  <p>The login link is below - if you manage to hack this site, please be a sport and show me how you did it - I'll make it more challenging for you next time.</p>
  <p>Questions? I'm on <a href="https://twitter.com/jase_thomas" target="_blank">Twitter</a>.</p>
{% endblock %}