<!doctype html>
<title>Jason Thomas - I like to make stuff</title>
<link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="{{ url_for('static', filename='highlight.pack.js') }}"></script>
<div class=topBanner>
  <a href="/">
    <h1>Jason Thomas</h1>
    <h4>I like to make stuff</h4>
  </a>
</div>
<div class=topLinks>
  <a href="{{ url_for('about') }}">about</a>
  <a href="{{ url_for('show_archive') }}">archive</a>
  <a href="{{ url_for('my_work') }}">tools</a>
</div>
<div class=page>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
<div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
</div>
<script>hljs.initHighlightingOnLoad();</script>
