{% extends "layout.html" %}
{% block body %}
<p>When I was a <a href="http://www.sbs.com.au/news/author/jason-thomas" alt="link to profile">journalist at SBS News</a>, I made several web apps to help others at work. I'm making that content available here so that others can use it.</p>
  
  <ul>
    <li>
      <h4>No More Tables generator - a way to spin up responsive tables on the go (JavaScript, CSS, HTML)</h4>
      <p>
        <a href="https://github.com/JasonThomasData/NoMoreTablesGenerator" target="_blank">Github page</a> | 
        <a href="http://www.jason-thomas.xyz/static/tools/NoMoreTablesGenerator/" target="_blank">Project link</a>
      </p>
      <p>When tables get squishy, they look bad. This project lets you set a 'break point' for the table. If the screen size is smaller than that, the table folds in under itself. The end result uses CSS and no JavaScript to achieve this.</p>
    </li>
    <li>
      <h4>Country shape SVG exporter - a tool for artists and non-programmers to export SVG shapes of countries (JavaScript, D3.js)</h4>
      <p>
        <a href="https://github.com/JasonThomasData/globeSVGdownload" target="_blank">Github page</a> | 
        <a href="http://www.jason-thomas.xyz/static/tools/globeSVGdownload/" target="_blank">Project link</a>
      </p>
      <p>Too often, in a news room, I've seen artists use the Mercator projection for shapes of individual countries. This globe is a much better representation of countries' actual shapes and sizes, although even a sphere has some distortion.</p>
    </li>
  </ul>
{% endblock %}
