{% extends "layout.html" %}
{% block body %}
  <h2>This is a summary of my best work as a software developer and journalist.</h2>
  <p>I've never been employed as a developer, so these projects are the product of my enthusiam and natural curiosity for problem solving and language.</p>
  <ul>
    <li>
      <h4>Reinforcement learing - how I taught robots the finer points of armed combat (Python)</h4>
      <p><a href="https://github.com/JasonThomasData/killer_robots_reinforcement_learning" target="_blank">Github page</a></p>
      <p>This is a demonstration of machine learning, where one or more software agents learns to do its/their tasks without being explicitly programmed to do so</p>
    </li>
    <li>
      <h4>Natural language processing - looking for passive voice in the writing of George Orwell (Python, NLTK, Stanford Core NLP)</h4>
      <p><a href="https://github.com/JasonThomasData/NLP_sentence_analysis" target="_blank">Github page</a></p>
      <p>Before George Orwell's death, he wrote an essay recommending people use active voice, rather than passive, in their writing if they are able. So I thought it would be interesting to look at Orwell's own work for passive and actice voice.</p>
    </li>
    <li>
      <h4>Natural selection in the DOM - (JavaScript, D3.js)</h4>
      <p>
        <a href="https://github.com/JasonThomasData/colour_evolution" target="_blank">Github page</a>
        <a href="http://www.jason-thomas.xyz/static/projects/colour_evolution/" target="_blank">Project link</a>
      </p>
      <p>This is a data visualisation of what natural selection might look like a controlled environment. There are predators that will pick off the most-visible prey. The prey that blend are the ones that reproduce.</p>
    </li>
    <li>
      <h4>This blog - my first attempt at using a backend web framework (Python, Jinja2, Flask)</h4>
      <p><a href="https://github.com/JasonThomasData/jason-thomas.xyz" target="_blank">Github page</a></p>
      <p>This was my first attempt at using Flask. This is hosted from my personal VPS. I deployed to a VPS so I could learn how Apache2, Linux and virtual hosts interact.</p>
    </li>
    <li>
      <h4>Databot - a robot/API to help users of a Slack channel find datasets (Python, Flask)</h4>
      <p><a href="https://github.com/JasonThomasData/databot" target="_blank">Github page</a></p>
      <p>This is a project I contributed to - adding features and tests.</p>
    </li>
    <li>
      <h4>No More Tables generator - a way to spin up responsive tables on the go (JavaScript, CSS, HTML)</h4>
      <p>
        <a href="https://github.com/JasonThomasData/NoMoreTablesGenerator" target="_blank">Github page</a> | 
        <a href="http://www.jason-thomas.xyz/static/tools/NoMoreTablesGenerator/" target="_blank">Project link</a>
      </p>
      <p>When tables get squishy, they look bad. This project lets you set a 'break point' for the table. If the screen size is smaller than than, the table folds in under itself. The end result uses CSS and no JavaScript to achieve this.</p>
    </li>
    <li>
      <h4>Country shape SVG exporter - a tool for artists and non-programmers to export SVG shapes of countries (JavaScript, D3.js)</h4>
      <p>
        <a href="https://github.com/JasonThomasData/globeSVGdownload" target="_blank">Github page</a> | 
        <a href="http://www.jason-thomas.xyz/static/tools/globeSVGdownload/" target="_blank">Project link</a>
      </p>
      <p>Too often, in a news room, I've seen artists use the Mercator projection for shapes of individual countries. This globe is a much better representation of countries' actual shapes and sizes, although even a sphere has some distortion.</p>
    </li>
    <li>
      <h4>Web scrapers - varied and many (Python, Ruby, requests, BeautifulSoup4, Mechanize, PhantomJS, Selenium)</h4>
      <p><a href="https://github.com/JasonThomasData/SBS_dataviz" target="_blank">Github page</a></p>
      <p>I wrote most of these as a journalist at SBS News. I've also written many scrapers to collect data for the website.</p>
    </li>
    <li>
      <h4>Data visualisations - varied and many (JavaScript, D3, C3, Leaflet)</h4>
      <p><a href="https://github.com/JasonThomasData/SBS_dataviz" target="_blank">Github page</a></p>
      <p>I was employed as a data journalist at SBS News, where I created many data visualisations.
      These are some of my best work. The Github page has links to the dataviz.</p>
    </li>
  </ul>
{% endblock %}
